<!DOCTYPE html>
<html>
	<body style="background-color:pink;border:solid 1px black">
	<p id='test'></p>
		<canvas id="mycanvas" width="950px" height="300px" style="border:solid 1px black">
		</canvas>

		<script type="text/javascript">

		  var canvas = document.querySelector("#mycanvas")
		  canvas.addEventListener("touchstart", handleStart, false)

		  canvas.addEventListener("touchmove", handleMove, false)

		  var ctx = canvas.getContext("2d")
			ctx.strokeStyle= 'black'
			ctx.lineJoin = 'round'
			ctx.lineWidth = 5
			ctx.lineCap = 'round'

			var touch = {x: 0, y: 0}

			function handleStart(evt) {
			  evt.preventDefault()
			  var touched = evt.changedTouches[0]
			  touch.x = touched.pageX - canvas.offsetLeft
			  touch.y = touched.pageY - canvas.offsetTop
			  ctx.beginPath()
			  ctx.moveTo(touch.x, touch.y)
			  // code here to draw cicle at start point
			}

			function handleMove(evt) {
			  evt.preventDefault()
			  var touched = evt.changedTouches[0]
	      newX = touched.pageX - canvas.offsetLeft
			  newY = touched.pageY - canvas.offsetTop
	      ctx.lineTo(touch.x, touch.y)
	      ctx.stroke()
	      touch.x = newX
	      touch.y = newY

			}

		</script>
	</body>
</html>